.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;
}
.btn-abv {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}