{% extends 'base.html' %}

{% block body %}

<div class="px-4 py-5 my-5 text-center">
        <h1 class="display-3 fw-normal">Результаты обработки:</h1>
        {% with var1 = complit_number, var3 = non_number %}
        <p class="fs-5 text-muted">Обработаны: {{var1}}</p>
        <p class="fs-5 text-muted">Не обработанные значения: {{var3}}</p>
        {% endwith %}

    <div class="grid-container">

        <div>
            <form action="{{ url_for('download_unprocessed') }}">
                <button type="submit" class="btn btn-outline-secondary btn-lg px-4">Скачать необработанные номера</button>
            </form>
            <div class="p-num">
            {% for nonnum in error_data %}
                <p class="fs-8 text-muted">{{ nonnum[0] }}</p>
            {% endfor %}
            </div>
        </div>

        <div>
            <form action="{{ url_for('download_processed') }}">
                <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Скачать обработанные номера</button>
            </form>
            <div class="p-num">
            {% for item in mapped_data %}
                <p class="fs-8 text-muted">{{ item[0]|striptags }}, {{ item[1]|striptags }}, {{ item[2]|striptags }}</p>
            {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}