{% extends 'base.html' %}

{% block body %}

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-3 fw-normal">ChekNum</h1>
  <p class="lead">Добро пожаловать в систему для установления оператора сотовой связи и региона абонентских номеров.</p>
  <p class="lead">Ресурс разработан для единовременной обработки большого количества номеров.</p>
  <p class="lead">Выберите удобный способ</p>
</div>

<form class="button-container" action="/upload">
  <button type="submit" class="btn-abv">Ввод данных с помощью Excel-файла формата .xlsx</button>
</form>

<form class="button-container" action="/number">
  <button type="submit" class="btn-abv">Ввод данных вручную или из буфера обмена</button>
</form>

{% endblock %}