{% extends 'base.html' %}

{% block body %}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-4 fw-normal">Загрузите файл .xlsx со списком номеров.</h1>
    <p class="lead">Для корректной обработки, вводите номера которые начинаются на "+79***", "79**", "89**"</p>
    <p class="lead">ВНИМАНИЕ! Номера на "9**" не обработаются</p>
</div>

<div class="px-4 py-5 my-5 text-center">
    <form action="/number" method="POST">
        <div class="center">
            <div class="input-container">
                <input type="submit" value="Отправить">
                <hr>
                <textarea autofocus class="form-control" id="bufer_num" rows="3" name="bufer_num" placeholder="Введите номера ..." rows="100"></textarea>

            </div>
        </div>
    </form>
</div>


{% endblock %}