{% extends 'base.html' %}

{% block body %}
<div class="container">
    <main>
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-4 fw-normal">Загрузите файл .xlsx со списком номеров.</h1>
            <p class="lead">Для корректной обработки, список номеров должен быть в первом столбце!</p>
        </div>
        <div class="px-4 py-5 my-5 text-center">
            <form action="" method="post" enctype="multipart/form-data">
                <input type="file" name="file" class="form-control" id="disabledCustomFile">
                <hr>
                <button type="submit" value="Загрузить" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </main>
</div>

{% endblock %}