{% extends 'base.html' %}

{% block body %}
<div class="container">
    <main>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Загрузите файл .xlsx со списком номеров.</h1>
            <p class="fs-5 text-muted">ВНИМАНИЕ! Для корректной обработки номеров проверьте правильность составления файла:</p>
            <p class="fs-5 text-muted">1. Название столбца должно быть "Numbers".</p>
            <p class="fs-5 text-muted">2. Номера должны иметь вид "79998882211".</p>
        </div>
        <form class="py-5 text-center" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Загрузить">
        </form>
    </main>
</div>

{% endblock %}